<section class="image-section" [@fadeInOut]>
    <video playsinline autoplay muted loop id="hero-video">
        <source src="../../../assets/video/hero.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="relative">
            <h1>Welcome to Amorous</h1>
            <p>When many people think about beauty, fashion and fragrance, they feel empowered and inspired. After all, when you look (and smell) good, it’s easy to feel good!</p>
            <button routerLink="/options" class="btn-primary">Show options</button>
        </div>
    </div>
</section>