<section *ngIf="show" class="section" [@fadeInOut]>
    <div class="container">
        <div class="wrapper">
            <h1>Chose One Impression</h1>
            <ul class="list" *ngIf="male">
                <li *ngFor="let impression of impressions.male">
                    <app-radio-input [checked]="selectedOption === impression"
                        (action)="setOption(impression)" [id]="impression"
                        [text]="impression"></app-radio-input>
                </li>
            </ul>
            <ul class="list" *ngIf="female">
                <li *ngFor="let impression of impressions.female">
                    <app-radio-input [checked]="selectedOption === impression"
                        (action)="setOption(impression)" [id]="impression"
                        [text]="impression"></app-radio-input>
                </li>
            </ul>
        </div>
    </div>
</section>