<section *ngIf="show" class="section" [@fadeInOut]>
    <div class="container">
        <div class="wrapper">
            <h1>Chose One Character</h1>
            <ul class="list">
                <li *ngFor="let character of characters">
                    <app-radio-input [checked]="selectedOption === character" (action)="setOption(character)" [id]="character"
                        [text]="character"></app-radio-input>
                </li>
            </ul>
        </div>
    </div>
</section>