<section *ngIf="show" [@fadeInOut]>
    <section class="image-section">
        <div *ngFor="let gender of genders" (click)="setOption(gender.name)" class="image-wrapper" [ngClass]="{'active': selectedOption===gender.name}">
            <img id="{{gender.name}}" class="image {{gender.name}}" src="{{gender.img}}" alt="Image 1">
            <h1 class="header">{{gender.name}}</h1>
            <img src="../../../assets/icons/chosen.svg" alt="checked" class="active-icon">
        </div>
    </section>

</section>