
h1,
h2,
h3 {
    color: var(--color-main);
    font-family: var(--font-h);
}

h4,
h5,
h6,
p {
    color: var(--color-black);
    font-family: var(--font-p);
    line-height: 150%;
}

label {
    color: var(--color-black);
    font-family: var(--font-p);
    font-size: 0.8rem;
}



.sidebar-wrapper {
    position: fixed;
    inset: 0 0 0 0;
    width: 100%;
    transform: translateY(100vh);
    transition: all 0.3s;
    height: 100vh;
    z-index: 11;
    .content {
        width: 100%;
        height: 70%;
        position: fixed;
        padding: 40px 20px;
        border-radius: 8px 8px 0 0;
        left: 0;
        bottom: 0;
        background-color: var(--color-white);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .close {
            position: absolute;
            background-color: transparent;
            padding: 10px;
            border: none;
            color: var(--color-black);
            font-weight: 700;
            right: 10px;
            top: 10px;
        }
    }
    &.show {
        transform: translateY(0);
    }
}

.overly {
    position: absolute;
    z-index: 10;
    inset: 0 0 0 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100vh);
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    &.overly-show {
        backdrop-filter: blur(8px);
        transform: translateY(0);
    }
}

.hot-toast-bar-base {
    font-family: var(--font-p);
}
